<!DOCTYPE HTML>
<html>
    <head>
        <title>Try Again? </title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>You Lose</h1>
        <h4>Try Again?</h4>
        <form action="restart" method="post">
            <input type="submit" name="submit" value="Restart">
        </form>
    </body>
</html>